@import "~react-image-gallery/styles/css/image-gallery.css";
.linkingPD {
    color: #0f6cb6;
    font-size: 14px;
}

.text-gray {
    color: #e1e1e1;
}

.text-projectpd {
    color: #4e4e4e;
}

.projectTitlepd {
    font-size: 25px;
    font-weight: 400;
    color: #303030;
    margin-top: 10px;
}

#slideshowpd {
    margin-top: 20px;
    box-shadow: 2px 2px 2px black;
}

.discPD {
    color: #94949b;
    margin-top: 10px;
}

.discLinkPD {
    color: #137dc1;
}
.discParaPD
{
    color: #303030;
}
#mappd {
    border: 0.5px solid rgb(223, 223, 223);
    width: 50%;
    height: 300px;
    margin-left: 40px;
}
@media all and (max-width:1050px) {
    #mappd {
        width: 80%;
    }
}
@media all and (max-width:600px) {
    #mappd {
        width: 100%;
        height: 250px;
        margin-left: 0px;
    }
    .discPD {
        margin-top: 0px;
    }
}